[submodule "libs"]
	path = libs
	url = git@github.com:tudelft/STM32F4xx_DSP_StdPeriph_Lib.git
[submodule "pprzlink"]
	path = pprzlink
	url = git@github.com:kirkscheper/pprzlink.git
[submodule "stereoboard_testing"]
	path = stereoboard_testing
	url = https://github.com/knmcguire/stereoboard_testing.git
[submodule "dronevision"]
	path = dronevision
	url = https://github.com/tudelft/drone_vision.git
