[submodule "ext/libs"]
	path = ext/libs
	url = https://github.com/tudelft/STM32F4xx_DSP_StdPeriph_Lib.git
[submodule "ext/pprzlink"]
	path = ext/pprzlink
	url = https://github.com/paparazzi/pprzlink.git
[submodule "ext/stereoboard_testing"]
	path = ext/stereoboard_testing
	url = https://github.com/tudelft/stereoboard_testing.git
[submodule "ext/drone_vision"]
	path = ext/drone_vision
	url = https://github.com/tudelft/drone_vision.git
[submodule "ext/fatfs"]
	path = ext/fatfs
	url = https://github.com/abbrev/fatfs.git
